.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}




.gototop{  
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(235, 42, 42);
}
.gototop i{
  padding: 6px 4px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}


